include ./../../components/counter/counter

mixin dropdown(options)
    - var dropdownClassName = "dropdown " + options.class; var dropdownWithId = options.id + "-dropdown"
    div(class = dropdownClassName id = options.id)
        b( class = "dropdown__title")= options.title
        .dropdown__body
            input(type = "checkbox" id = "dropdown__expanded")
            div(class="dropdown__selected" )
                p= options.selected
            .dropdown__list
                - for (var x = 0; x < options.items.length; x++)
                    .dropdown__item
                        p= options.items[x]
                        +counter({})
                .dropdown__options
                    .dropdown__options_clear= "Очистить"
                    .dropdown__options_accept= "Применить"
