include ./../../components/input/input
mixin footer(options)
    - var footerClassName = "footer"
    .footer-wrapper
        .footer
            .footer-logo
                img( src = "./../logo.svg")
                p= options.text
            .footer-navigation
                b= options.nav[0]
                ul( class = "footer__list")
                    - for (var x = 1; x < options.nav.length; x++)
                        li( class = "footer__item")= options.nav[x]
            .footer-about
                b= options.about[0]
                ul( class = "footer__list")
                    - for (var x = 1; x < options.about.length; x++)
                        li( class = "footer__item")= options.about[x]
            .footer-support
                b= options.support[0]
                ul( class = "footer__list")
                    - for (var x = 1; x < options.support.length; x++)
                        li( class = "footer__item")= options.support[x]
            .footer-subscribe
                b= options.subscribe.title
                ul( class = "footer__list")
                    li( class = "footer__item")= options.subscribe.text
                    li( class = "footer__item")
                        .footer-subscribe__input
                            +input({type: "text", id: "text", placeholder: "Your email address"})
        .footer-bottom
            .footer-bottom__copyright
                p= "Copyright © 2018 Toxin UI Kit. All rights reserved."
            .footer-bottom__social
                ul( class = "social__list")
                    li( class = "social__item twitter")
                    li( class = "social__item facebook")
                    li( class = "social__item instagram")
